.header {
  margin-left: 10em;
  display: inline-block;
  color: rgba(71,163,218,0.8);
}
#right {
  margin-left: 8em;
}
.catz {
  width: 100%;
}
ul {
  list-style-type: none;
  display: block;
}
li {
  position: relative;
  float: left;
  display: inline-block;
  width: calc(100% / 6);
}
img {
  background-color: transparent;
}
span {
  opacity: 0;
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  text-align: center;
  border-style: solid;
  font-size: 30px;
  padding-top: 60%;
}
li:hover span {
  opacity: 0.8;
  display: inline-block;
  background-color: rgba(71,163,218,0.8);
  color: white;
  border-color: rgba(71,163,218,0.8);
  cursor: pointer;
}
